<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Luna Chat Buddy</title>
    <link rel="icon" href="assets/icons/chat.ico">
    <link rel="apple-touch-icon" href="assets/icons/chat.svg">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="content">
            <h1 class="title">Luna</h1>
            <div>
                <p class="subtitle">Your smart English conversation partner</p>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="chat-container">
            <div class="chat-header">
                <div class="image-container">
                    <img src="assets\luna_snapshot\luna.webp">
                </div>
                <p class="bot-name">Luna</p>
            </div>
            <div class="chat-box" id="chat-box"></div>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type your message...">
                <button class="input-btn" id="send-btn">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
                <button class="input-btn" id="mic-btn">
                    <i class="fa-solid fa-microphone"></i>
                </button>
            </div>
        </div>
    </main>
    <footer id="footer">
        <p id="version-name">Version: v2.0.0</p>
        <p>&copy; 2025 Zeeshan Ahmed</p>
        <p>Questions? Reach out to me at <a href="mailto:zeeshanahmed4200@gmail.com">zeeshanahmed4200@gmail.com</a></p>
        <div class="social-media">
            <a href="https://github.com/Zeeshan3155" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://zeeshan-ahmed.netlify.app/" target="_blank">
                <i class="fa-solid fa-user-tie"></i>
            </a>
            <a href="http://www.linkedin.com/in/zeeshan-ahmed-22178620a" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </footer>
    <script src="static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.11/lottie.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</body>
</html>